@import '../../../static/scss/mixins';

.container {
  color: var(--black);
  padding-top: 17rem;

  & p {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
}

.content {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
