@import '../../static/scss/mixins';

.wrapper {
  padding-top: 8rem;
  font-size: 12px;
  margin: 0 35px;
}

.titles {
  width: 90%;
  margin-left: 146px;
  @include flexMixin;
  margin-bottom: 30px;

  & p {
    cursor: pointer;
  }
}

.cartListTitles {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cartRelatedTitle {
  margin-right: 150px;
  font-weight: 700;
}

.favourites {
  display: flex;
  align-items: center;
  cursor: pointer;

  & span {
    padding-top: 4px;
  }
}

.active {
  font-weight: 700;
  border-bottom: var(--border-black);
}
