@import '../../../static/scss/mixins';

.cartContent {
  display: flex;
  justify-content: space-between;
}

.cartRelated {
  width: 25%;
  height: 70vh;
  padding: 15px;
  flex-wrap: wrap;
  overflow-y: scroll;

  @include flexMixin;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    margin-block: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--black);
    border-radius: 100vw;
    border: 0.5em solid transparent;
  }
}

.cartList {
  width: 70%;
  flex-wrap: wrap;

  @include flexMixin;
}

.cartTotal {
  width: 20%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 30px;
  right: 50px;

  & p {
    font-weight: 700;
    letter-spacing: normal;
  }

  & button {
    width: 55%;
    height: 35px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-black);
    cursor: pointer;

    &:hover {
      background-color: var(--hover-btn-background-color);
    }
  }
}
