.burger {
  cursor: pointer;
  font-size: 24px;
}

.burger svg {
  position: fixed;
  top: 41px;
  left: 30px;
  z-index: 1000;

  @media all and (max-width: 1024px) {
    top: 45px;
    left: 55px;
  }

  @media all and (max-width: 791px) {
    top: 25px;
    left: 25px;
  }

  @media all and (max-width: 769px) {
    top: 32px;
    left: 25px;
  }
}
