@import '../../../../static/scss/mixins';

.settings {
  width: 87%;
  margin: 0 auto;
  font-size: 12px;
  padding: 30px 0 60px 0;
}

.item {
  width: 40%;
  margin-bottom: 40px;
  cursor: pointer;

  @include flexMixin;

  & p:first-child {
    margin-bottom: 5px;
  }
}

.descr {
  font-size: 12px;
  letter-spacing: normal;
  text-transform: none;
}
