.wrapper {
  padding-top: 6.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 130px;
}

.composition {
  width: 25%;
  padding-right: 10%;

  & h5 {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 1;
  }

  & h5:first-child {
    margin-bottom: 20px;
  }

  & p {
    margin-top: 20px;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
  }

  & button {
    margin-top: 30px;
    border: none;
    border-bottom: var(--border-black);
    background-color: var(--white);
    font-size: 12px;
    cursor: pointer;
  }
}

.mainContent {
  width: 35%;
  height: 500px;
  display: flex;
  gap: 20px;
}

.main {
  border: var(--border-black);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.img {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  & img {
    max-width: 100%;
    height: 100%;
  }
}

.progressBarContainer {
  background-color: #b3b3b3;
  width: 3px;
  height: 500px;
}

.progressBar {
  background-color: var(--black);
  width: 100%;
}

.descr {
  width: 25%;
  padding-right: 2%;

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;

    & h5 {
      font-weight: normal;
      letter-spacing: 1;
    }
  }

  & p {
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
    line-height: 24px;
  }

  & button {
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: var(--white);
    border: var(--border-black);
    cursor: pointer;

    &:hover {
      border-color: #7d7d7d;
    }
  }
}

.sizeList {
  font-size: 12px;
  margin-top: 20px;
  padding: 5px;
  border-top: var(--border-black);
  border-bottom: var(--border-black);

  & li {
    cursor: pointer;
    margin-bottom: 2px;
  }

  & li:hover {
    background-color: #dfdfdf;
  }
}

.galery {
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.galeryItem {
  cursor: pointer;
  width: 40px;
  height: 50px;
  border: var(--border-black);
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    max-width: 100%;
    height: 100%;
  }
}
