.personal {
  color: var(--black);
}

.wrapper {
  padding: 8.5rem 0 1rem;
  border-bottom: var(--border-black);
}

.list {
  display: flex;
  gap: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  width: 87%;
  margin: 0 auto;

  & li {
    cursor: pointer;
  }
}

.active {
  font-weight: 700;
  border-bottom: var(--border-black);
}
